html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.nav-link {
    cursor: pointer;
}

#foto {
    border: 2px solid rgb(111, 111, 241);
    border-radius: 50%;
    width: 100%;
}

#iconoBandera {
    width: 70%;
    max-width: 100px;
}

.fotohabilidad {
    width: 100px;
    height: 100px;
}

.fotorrss{
    width: 50px;
    height: 50px;
}

input:invalid:required{
    border: 1px solid #0d6efd
    ;
}

input:valid{
    border: 2px solid lightgreen;
}

.form-group {
    max-width: 700px;
}

#submitbutton {
    max-width: 100px;
}