html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.nav-link {
    cursor: pointer;
}

#foto {
    border: 2px solid rgb(111, 111, 241);
    border-radius: 50%;
    width: 100%;
}

#iconoBandera {
    width: 70%;
    max-width: 100px;
}

.fotohabilidad {
    width: 10%;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
}